/*
	main.css
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -- CSS reset -- */

/* -- Fixed -- */

html{
	font-size: 10px;
	font-family: 'Lato','Helvetica Neue','Helvetica','Roboto',Arial,sans-serif;
}

/* -- Fixed -- */

body{
	padding: 0em;
	text-align: center;
	background-color: #fff;
	font-family: 'Lato','Helvetica Neue','Helvetica','Roboto',Arial,sans-serif;
	letter-spacing: 0.01rem;
}

#main {
	background-color: rgb(229,226,229);
	display: block;
	width: 100vw;
	height:100vh;
}

#iPhone {
	position: absolute;
	top: 0;
	left: 0;
	width: 50vw;
	height: 0;
	display: inline-block;
	margin: 50vh 35vw;
	text-align: center;
}

#main_text {
	background-color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	width: 50vw;
	height: 100vh;
	text-align: left;
}

#main_text > span {
	display: inline-block;
    padding: 0 8rem 0 6.5rem;
    position: absolute;
    top: 50%;
    margin-top: -26rem;
}

#main_text span h1 {
	font-size: 4.2rem;
	font-weight: 500;
	margin-bottom: 3.5rem;
}

#main_text span h2 {
	font-size: 4.6rem;
	font-weight: 600;
	margin-bottom: 2rem;
	color: #000;
	line-height: auto;
}

#main_text span p {
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.6;
	margin-bottom: 2rem;
}

#iPhoneXImageFront {
	background: URL(../images/iPhoneX00.png);
	width: 26rem;
	height: 52rem;
	margin-top: -52rem;
	margin-left: -13rem;
}

#iPhoneXImageBack {
	background: URL(../images/iPhoneX01.png);
	width: 26rem;
	height: 52rem;
	margin-top: -26rem;
	margin-left: -13rem;
}

#main_text aside{
	display: block;
	position: absolute;
	right: 3rem;
	top: 1.5rem;
	overflow: hidden;
}

#main_text aside ul {
	position: relative;
}

#main_text aside li {
	float: left;
}

#main_text aside li:first-of-type {
	padding-right: 2.1rem;
}

#main_text aside li:first-of-type::after{
	content: "";
	display: inline-block;
	position: absolute;
	top: 1.25rem;
	right: 3.5rem;
	margin-left: 1rem;
	margin-top: -1.25rem;
	height: 2rem;
	width: 0.1rem;
	background-color: #ddd;
}

#main_text aside img{
	display: block;
	width: 2.5rem;
	height: auto;
	vertical-align: baseline;
}

#main_text aside a{
	width: 2.5rem;
	height: auto;
}

footer {
	display: block;
	position: absolute;
	left: 5rem;
	bottom: 4rem;
}

footer span {
	margin: 0px;
	padding: 0px !important;
	font-weight: bold;
	font-size: 1.4rem;
	color: #000392;
}

footer a {
	font-size: 1.6rem !important;
	margin-left: 1.5rem;
	padding: 0px !important;
	color: #428bca;
}

#logo {
	position: absolute;
	left: 3rem;
	top: 2rem;
	width: 11rem;
	height: auto;
}