/*
	main.css
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -- CSS reset -- */

/* -- Fixed -- */

html{
	font-size: 10px;
    font-family: 'Lato','Helvetica Neue','Helvetica','Roboto',Arial,sans-serif;
    background-color: rgb(229,226,229);
}

/* -- Fixed -- */

#logo {
	position: absolute;
	left: 3rem;
	top: 2rem;
	width: 11rem;
	height: auto;
}

#demo {
    position: absolute;
    left: 50%;
    top: 50%;
}

#iPhone {
    position: relative;
    margin-left: -19.625vh;
    margin-top: -40vh;
}

#iPhone,
#mockup,
#video
{
    max-height: 160rem;
    max-width: 78.5rem;
    height: 80vh;
    width: 39.25vh;
}

#mockup {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

#video {
    max-height: 122.5rem;
    max-width: 69.4rem;
    height: 62vh;
    width: auto;
    margin-left: 2.3vh;
    margin-top: 9.4vh;
}


@media all and (min-height:2000px) {
    #iPhone,
    #mockup,
    #video
    {
        max-height: 160rem;
        max-width: 78.5rem;
        height: 80vh;
        width: 39.25vh;
    }

    #video {
        height: 122.5rem;
        width: auto;
        margin-left: 5.2rem;
        margin-top: 18.8rem;
    }
}